
source/server/*/bin/
source/server/*/obj/
source/server/packages/
server/*.suo
source/server/buildreports/

source/server/test-results.xml
*.user
source/server/bin/
nunit-result.xml
*.swp
source/server/coverage
buildreports
source/server/.vs/config/applicationhost.config
source/server/OpenCover/

source/server/.vs/TimeTracker/config/applicationhost.config

source/server/.vs/TimeTracker/v16/.suo

source/server/TimeTracker.Persistence/ApplicationDbContext.dgml

source/server/.vs/TimeTracker/DesignTimeBuild/.dtbcache.v2
*.testlog
*.manifest

source/server/TimeTracker.Domain.Tests/Auth/.editorconfig
